{% extends 'Catalog/catalogBase.html' %}
{% block content %}
{% load static %}
<style>
    .card-view {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 300px;
    }

    .advertisement-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-view h5 {
        margin-top: 2.1rem;
        margin-bottom: 0.5rem;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h2 class="text-center mb-4">Welcome to Orga Green Help Desk</h2>
            <br>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4" >
            <div class="card-view">
                <a href="{% url 'green' %}" style="text-decoration: none; color: inherit;">
                    <img src="{% static 'assets/images/catalog/green.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                    <h5 class="mt-0">Green chillie</h5>
                    <p>How to plant ?</p>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'brinjal' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/brinjal.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">Brinjal</h5>
                <p>How to plant ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'tomato' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/tomato.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">Tomato</h5>
                <p>How to plant ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'papaw' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/papaya.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">Papaya</h5>
                <p>How to plant ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'mushroom' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/mushroom.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">Mushroom</h5>
                <p>How to plant ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'fertilizer' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/fer.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">Fertilizer</h5>
                <p>How to plant ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'ph' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/phm.jpeg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">PH Measure</h5> <!-- Adjusted margin-top -->
                <p>Want to measure your PH values ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'gap' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/green.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">GAP Introduction</h5> <!-- Adjusted margin-top -->
                <p>How to know ?</p>
                      </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-view">
                 <a href="{% url 'crop' %}" style="text-decoration: none; color: inherit;">
                <img src="{% static 'assets/images/catalog/crop.jpg' %}" alt="Advertisement 1" class="advertisement-image">
                <h5 class="mt-0">Crop Diseases</h5> <!-- Adjusted margin-top -->
                <p>Identify Diseases ?</p>
                      </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}