{% extends 'Main/base.html' %}

{% block content %}
{% load static %}

<!-- Shop Page Start -->
<div class="shop-category-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
        
            <!-- Product Listing Area -->
            <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
            
                <!-- Shop Top Bar -->
                <div class="shop-top-bar d-flex mb-4">
                    <div class="shop-tab nav">
                        <button class="active" data-bs-target="#shop-grid" data-bs-toggle="tab" style="background-color: #4CAF90; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                            <span style="font-size: 1.2em; line-height: 1.5em;">≡</span>
                        </button>
                        <button data-bs-target="#shop-list" data-bs-toggle="tab" style="background-color: #4CAF90; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                            <span style="font-size: 1.2em; line-height: 1.5em;">⍖</span>
                        </button>
                    </div>
                </div>
                
                <!-- Shop Bottom Area -->
                <div class="shop-bottom-area">
                    <div class="tab-content">
                    
                        <!-- Grid View -->
                        <div class="tab-pane fade show active" id="shop-grid">
                            <div class="row mb-n-30px">
                                {% for prod in product %}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-30px">
                                    <div class="product">
                                    
                                        {% if prod.condition != 'No' %}
                                        <span class="badges">
                                            <span class="new">{{ prod.condition }}</span>
                                        </span>
                                        {% endif %}
                                        
                                        <div class="thumb">
                                            <a href="/products/{{ prod.id }}" class="image">
                                                <img src="{{ prod.image.url }}" alt="Product" style="height: 250px;" />
                                                <img class="hover-image" src="{{ prod.image.url }}" alt="Product" style="height: 250px;" />
                                            </a>
                                        </div>
                                        
                                        <div class="content">
                                            <span class="category">{{ prod.categories.name }}</span>
                                            <h5 class="title">{{ prod.name }}</h5>
                                            <span class="price">
                                                <span class="new" style="color: #000; text-decoration: none;" onmouseover="this.style.color='#4CAF90'" onmouseout="this.style.color='#000'">Rs. {{ prod.price }}</span>
                                            </span>
                                        </div>
                                        
                                        <div class="actions">
                                            <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{ forloop.counter }}" onmouseover="this.style.backgroundColor='#4CAF90'" onmouseout="this.style.backgroundColor='#666362'">
                                                <i class="pe-7s-shopbag"></i>
                                            </button>
                                            <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ forloop.counter }}" onmouseover="this.style.backgroundColor='#4CAF90'" onmouseout="this.style.backgroundColor='#666362'">
                                                <i class="pe-7s-look"></i>
                                            </button>
                                        </div>
                                        
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <!-- List View -->
                        <div class="tab-pane fade mb-n-30px" id="shop-list">
                            {% for prod in product %}
                            <div class="shop-list-wrapper mb-30px">
                                <div class="row">
                                    <div class="col-md-5 col-lg-5 col-xl-4 mb-3">
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="/products/{{ prod.id }}" class="image">
                                                    <img src="{{ prod.image.url }}" alt="Product" />
                                                    <img class="hover-image" src="{{ prod.image.url }}" alt="Product" />
                                                </a>
                                                {% if prod.condition != 'No' %}
                                                <span class="badges">
                                                    <span class="new">{{ prod.condition }}</span>
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-7 col-lg-7 col-xl-8">
                                        <div class="content-desc-wrap">
                                            <div class="content">
                                                <span class="category">{{ prod.categories.name }}</span>
                                                <h5 class="title">{{ prod.name }}</h5>
                                                <p>{{ prod.description | safe }}</p>
                                            </div>
                                            <div class="box-inner mt-2 d-flex justify-content-between align-items-center">
                                                <span class="price">
                                                    <span class="new">Rs. {{ prod.price }}</span>
                                                </span>
                                                <div class="actions">
                                                    <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{ forloop.counter }}" onmouseover="this.style.backgroundColor='#4CAF90'" onmouseout="this.style.backgroundColor='#666362'">
                                                        <i class="pe-7s-shopbag"></i>
                                                    </button>
                                                    <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ forloop.counter }}" onmouseover="this.style.backgroundColor='#4CAF90'" onmouseout="this.style.backgroundColor='#666362'">
                                                        <i class="pe-7s-look"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <!-- Sidebar for Categories -->
            <div class="col-lg-3 order-lg-first col-md-12 order-md-last">
                <div class="shop-sidebar-wrap">
                    <div class="sidebar-widget">
                        <h4 class="sidebar-title" style="color: #000;">Top Categories</h4>
                        <div class="sidebar-widget-category">
                            <ul>
                                <li>
                                    <a href="/products/" style="color: #000; background-color: #fff; text-decoration: none;" onmouseover="this.style.color='#4CAF90'" onmouseout="this.style.color='#000'">
                                        All
                                    </a>
                                </li>
                                {% for cat in categories %}
                                <li>
                                    <a href="/products/?categories={{ cat.id }}" style="color: #000; text-decoration: none;" onmouseover="this.style.color='#4CAF90'" onmouseout="this.style.color='#000'" class="{% if cat.id == selected_category_id %}selected{% endif %}">
                                        {{ cat.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
