{% extends 'Main/base.html' %}

{% block content %}


<div class="container">
    <br>
 <h2>Search Result: </h2>
    {% if product|length < 1 %}
    <p>No Product Found</p>
    {% endif %}
</div>
        <div class="shop-category-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="shop-bottom-area">
                            <div class="row">
                                <div class="col">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="shop-grid">
                                            <div class="row mb-n-30px">
                                                {% for i in product %}
                                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                                 
                                                    <div class="product">
                                                        <span class="badges">
                                                            {% if prod.condition == 'No' %}
                                                            {% else %}
                                                                <span class="badges">
                                                                    <span class="new">{{ prod.condition }}</span>
                                                                </span>
                                                            {% endif %}
                                                        </span>
                                                        <div class="thumb">
                                                            <a href="single-product.html" class="image">
                                                                <img src="/{{ i.image }}" alt="Product" />
                                                                <img class="hover-image" src="/{{ i.image }}" alt="Product" />
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <span class="category"><a href="#">{{ i.categories }}</a></span>
                                                            <h5 class="title"><a href="single-product.html">{{ i.name }}
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                            <span class="new">Rs.{{ i.price }}</span>
                                                            </span>
                                                        </div>
                                                        <div class="actions">
                                                            <!-- <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                                                                class="pe-7s-shopbag"></i></button> -->
                                                           
                                                            <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ forloop.counter }}"><i class="pe-7s-look"></i></button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>


                                        {% endfor %}


                         
{% endblock %}