{% extends 'Main/base.html' %}

{% block content %}

{% load static %}


<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>About Us</span>
                        </h2>
                        <p>
                            100% Natural: Our orchards are designed for secure natural resources, and the final product has a fresh natural taste and quality.
                        </p>
                        <p>
                            Safe to Consume: We manage our orchards under the standards of Good Agriculture Practices (GAP), where growers use integrated pest and disease control measures. Our product has no health hazards and is safe for consumers.
                        </p>
                        <p>
                            Quality Ensured: We have an IT-based monitoring system and dedicated trained officers to ensure the quality of the product from the field to the packing house and then to the final destination.
                        </p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
