{% extends 'Catalog/catalogBase.html' %}
{% block content %}
{% load static %}
    <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
        <img src="{% static 'assets/images/catalog/mushroom.jpg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
    </div>

    <div style="padding: 20px; background-color: #f9f9f9; max-width: 1100px; margin: 0 auto;">
        <div style="margin: 0 20px;">
            <h2 style="color: #000; margin-bottom: 20px; margin-top: 40px;">How to Grow Mushrooms</h2>
            <p><strong>Grow Guide #2254</strong></p>
            <p><strong>Family:</strong> Fungi</p>
            <p><strong>Genus:</strong> Agaricus</p>
            <p style="margin-bottom: 40px;"><strong>Species:</strong> Agaricus bisporus</p>

            <h3 style="color: #000; margin-bottom: 20px;">When to Grow Mushrooms</h3>
            <p style="margin-bottom: 40px;">Mushrooms can be grown indoors year-round in controlled environments, or outdoors in suitable climates.</p>

            <h3 style="color: #000; margin-bottom: 20px;">Preparation</h3>
            <p style="margin-bottom: 20px;">Choose a suitable location for growing mushrooms. Indoors, this could be a dark, cool room like a basement or garage. Outdoors, choose a shady spot with indirect sunlight.</p>
            <p style="margin-bottom: 20px;">Prepare mushroom substrate, such as compost, straw, or sawdust, depending on the type of mushrooms you're growing.</p>
            <p style="margin-bottom: 50px;">Obtain mushroom spawn or culture from a reputable supplier.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Grow Mushrooms</h3>
            <p style="margin-bottom: 20px;">
               <p style="margin-bottom: 20px;">Prepare the mushroom substrate by pasteurizing or sterilizing it to kill off any competing organisms.</p>
               <p style="margin-bottom: 20px;">Mix the mushroom spawn or culture into the substrate material.</p>
               <p style="margin-bottom: 20px;">Transfer the substrate mixture into growing containers, such as trays or bags, and seal them to maintain humidity.</p>
               <p style="margin-bottom: 20px;">Incubate the containers in a dark, warm area until mycelium growth is visible.</p>
               <p style="margin-bottom: 20px;">Introduce fresh air and reduce humidity levels to induce fruiting.</p>
               <p style="margin-bottom: 20px;">Harvest mushrooms when they reach the desired size by gently twisting or cutting them from the substrate.</p>
            </p>

            <p style="color: #000; margin-bottom: 10px;"><strong>Additional Tips:</strong></p>
            <ul style="color: #000; margin-bottom: 40px;">
                <li>Maintain proper humidity levels throughout the growing process to prevent drying out or mold growth.</li>
                <li>Monitor temperature and ventilation to ensure optimal conditions for mushroom growth.</li>
                <li>Rotate growing containers regularly to promote even growth.</li>
            </ul>

            <h3 style="color: #000; margin-bottom: 20px;">Common Mushroom Varieties</h3>
            <p style="margin-bottom: 20px;">Some common varieties of mushrooms that can be grown include:</p>
            <ul style="margin-bottom: 40px;">
                <li>Button Mushrooms (Agaricus bisporus)</li>
                <li>Oyster Mushrooms (Pleurotus ostreatus)</li>
                <li>Shiitake Mushrooms (Lentinula edodes)</li>
                <li>Portobello Mushrooms (Agaricus bisporus)</li>
            </ul>

            <h3 style="color: #000; margin-bottom: 10px;">How to Store Mushrooms</h3>
            <p style="margin-bottom: 20px;">Store harvested mushrooms in a cool, dark place such as the refrigerator.</p>
            <p style="margin-bottom: 40px;">Use mushrooms within a few days for best flavor and quality.</p>

        </div>
    </div>
{% endblock %}
