{% extends 'Catalog/catalogBase.html' %}
{% block content %}
{% load static %}
    <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
        <img src="{% static 'assets/images/catalog/qr.jpg' %}" alt="Your Image" style="width: 20%; max-width: 1100px; "/>
    </div>

    <div style="padding: 20px; background-color: #f9f9f9; max-width: 1100px; margin: 0 auto;">
        <div style="margin: 0 20px;">
            <h2 style="color: #000; margin-bottom: 20px; margin-TOP: 40px;">What are SL-GAP products?</h2>
            <p>Here are the products that have received the SL-GAP certificate from the Department of Agriculture
                that they are produced under the SL-GAP standard. This gives assurance to the consumer about the
                quality and health safety of these products.</p>
            <br>
             <ul>
                <li style="margin-bottom: 20px;">
                    <strong>What are the benefits of consuming SL - GAP products?</strong>
                    <p style="margin-bottom: 20px; margin-left: 30px;margin-top: 10px; margin-bottom: 20px">
                        • Minimizing the health risks that may arise from agricultural products by using agricultural
                            products such as vegetables and fruits that are reliably produced in a quality and safe manner.
                        <br>
                            • The birth of a healthy future generation in the use of food without agrochemical residues.
                        <br>
                            • By reducing the use of unnecessary inputs in good management, production costs can be
                            reduced and profits can be increased.
                        <br>
                            • Reduction of environmental damage through formal resource management and production.
                            Ensuring health safety.
                        <br>
                            • To be able to achieve economic benefits through new local and foreign market opportunities
                              for quality products.
                        <br>
                            • By confirming the safety of products, the rejection of products in exports is minimized.
                        <br>
                            • Being able to maintain a consistent level of income without risk and compromise in crop sales.
                        <br>
                            • Ensuring the well-being of plantation owners as well as workers by increasing their welfare
                            and health protection.
                        <br>
                            • Able to maintain an orderly sustainable farm under great management.
                        <br>
                            • Being able to gain self-esteem by making socially acceptable eco-friendly products and
                            consuming such products.
                    </p>
                </li>
            </ul>


             <strong>What are the benefits of consuming SL - GAP products?</strong>

            <p style="text-align: center;margin-top: 10px; margin-bottom: 10px">Each certified education unit is packed under the supervision of an officer of the SL-GAP Promotion
               Unit and a ticker or label with the SL-GAP logo and QR Code is applied to each pack. For this, the
               relevant information can be obtained instantly by using the QR Code reader application (Mobile
               Phone App) on your smartphone. And all information about the product can be obtained by visiting
                the website of the Department of Agriculture
                <br>
                <a href="http://www.slgap.lk/ certificates.php">http://www.slgap.lk/ certificates.php</a> </p>


              <strong> Where SL GAP products are available</strong>

            <p style="text-align: center;margin-top: 30px; margin-bottom: 30px">
                With the objective of bringing certified farm vegetables and fruits to the consumers, a network of
                registered supermarkets and special GAP educational stores established with the approval of the
                Department of Agriculture has worked to reliably supply SL-GAP products
                <br>
               <b>Basic activities you need to do in running a farm under GAP system</b>
            </p>

              <strong> Mainly follow the following points and related information</strong>
            <p>You can easily become a GAP grower by keeping records</p>
            <br>
            <ol>

                <li><b>1.</b>Site for Farm: Selection of a site with appropriate legal clearance recommended for crop cultivation in a well-rounded area with dimensional boundaries.
                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/1.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                 </div>
                </li>

                 <li><b>2.</b>Cultivation Environment: Taking appropriate measures to prevent physical, chemical or biological contamination of produce. Under this, confirmation that the soil and water in the farm field are not in polluted condition. Proper disposal of farm crop residues and waste water. Waste should be properly managed
                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/2.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                 </div>
                </li>

                <li><b>3.</b> Maintenance of farm structures: All farm structures including soil conservation, efficient
                                water management, structure management including farm storage and harvest handling
                                stations should be properly maintained according to accepted methods.
                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/3.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                 </div>
                </li>

                <li><b>4.</b>Farm maintenance activities: Maintain and maintain the farm premises and farm machinery as per the accepted methods of the Department of Agriculture.
                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/4.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                 </div>
                </li>




                <li><b>5.</b>Crop management activities: Integrated pest and nutrient management should be followed using recommended seed planting materials, cultivation methods and inputs, pesticides and fertilizers should be used as recommended only in case of need and measures should be taken to get an optimum yield to minimize post-harvest damage.

                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/5.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                 </div>
                </li>



                <li><b>6.</b>Maintaining farm information records: Records should be kept for all related activities to verify the above activities, trace the information and perform certification activities based on the data
                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/6.jpeg' %}" alt="Your Image" style="width: 50%; max-width: 1100px; "/>
                 </div>
                </li>


                <li><b>7.</b>Work to maintain employee safety and welfare: Adequate facilities should be provided for the welfare and hygiene of all the people involved in the production process.
                 <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                      <img src="{% static 'assets/images/catalog/7.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                 </div>
                </li>

            </ol>

            <strong>For this, the facilities provided by us to you</strong>
                 <p style="margin-top: 20px">Providing close support and supervision of an Agribusiness Consultant, Agricultural Consultant and Technical Assistant free of charge to accomplish the above activities.</p>


                   <ul style="margin-top: 20px; margin-left: 40px">
                      <li>• Conducting laboratory tests related to certification and providing various facilities for GAP farm development activities.</li>
                      <li>• Initially, a free SL-GAP (with QR code) certification is done and a label is given to the products</li>
                      <li>• Carrying out the necessary connection activities to enter the local and foreign markets.</li>

                       <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                        <img src="{% static 'assets/images/catalog/8.jpeg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
                       </div>

                    </ul>


 <strong>SL-GAP Certification Process</strong>
             <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                        <img src="{% static 'assets/images/catalog/9.jpeg' %}" alt="Your Image" style="width: 40%; max-width: 1100px; "/>
                       </div>
             <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
                        <img src="{% static 'assets/images/catalog/10.jpeg' %}" alt="Your Image" style="width: 40%; max-width: 1100px; "/>
                       </div>







            <strong>Farm Setup as per GAP Standards</strong>
                  <ul style="margin-top: 10px; margin-bottom: 20px">
                      <li>• Internal Audit.</li>
                      <li>• SL GAP application referral</li>
                      <li>• Application check.</li>
                      <li>• Agricultural produce audit</li>
                 </ul>

                <strong>SL GAP Non-Compliant Farms</strong>
                <ul style="margin-top: 10px; margin-bottom: 20px">
                  <li>• Provision of Non-Compliance Reports</li>
                  <li>• Processing and Re-Application of Farm Defects</li>
                </ul>

                <strong>Passed SL GAP Compatible Farm Produce</strong>
                    <ul style="margin-top: 10px; margin-bottom: 20px">
                      <li>• Issuance of SL GAP Certificate</li>
                    </ul>

                <strong>For Product</strong>
                <ul style="margin-top: 10px; margin-bottom: 20px">
                  <li>• Advice and Support</li>
                </ul>

                <strong> Agribusiness Advisory Division</h2></strong>
                <ul style="margin-top: 10px; margin-bottom: 20px">
                  <li>• Agriculture Adviser</li>
                  <li>• Mahaweli Extension Officer</li>
                </ul>

                <strong>GAP Logo QR</strong>
                <p style="margin-top: 10px; margin-bottom: 0px">Release to the market with</p>

                <p>If you also grow under Good Agricultural Practices (GAP) and intend to become a holder of a SL - GAP certificate, contact:</p>
                <p style="margin-top: 10px; margin-bottom: 30px">Additional Director, Seed Certification Service, Department of Agriculture, Gannoruwa</p>
                <p style="margin-top: 10px; margin-bottom: 30px"> <b>Call: 0812 388 217 </b> for further information.</p>
  </div>
             </div>
    </div>
{% endblock %}
