{% extends 'Catalog/catalogBase.html' %}
{% block content %}
{% load static %}
    <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
        <img src="{% static 'assets/images/catalog/green.jpg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
    </div>

    <div style="padding: 20px; background-color: #f9f9f9; max-width: 1100px; margin: 0 auto;">
        <div style="margin: 0 20px;">
            <h2 style="color: #000; margin-bottom: 20px; margin-TOP: 40px;">How to Grow Chilli Seeds</h2>
            <p><strong>Grow Guide #2250</strong></p>
            <p><strong>Family:</strong> Solanaceae</p>
            <p><strong>Binomial name:</strong> Capsicum spp.</p>
            <p style="margin-bottom: 40px;"><strong>Life Cycle:</strong> Perennial (usually grown as an annual)</p>

            <h3 style="color: #000; margin-bottom: 20px;">When to Sow Chilli Seeds</h3>
            <p style="margin-bottom: 40px;">Chilli is a warm season crop. Use the table below to identify the best time of year to sow chilli seeds in your climate.</p>
     <table class="table" style="color: #000; margin-bottom: 60px;">
                <thead style=" background-color: #ffffff">
                    <tr>
                        <th>Month</th>
                        <th class="red">Jan</th>
                        <th class="green">Feb</th>
                        <th class="blue">Mar</th>
                        <th class="red">Apr</th>
                        <th class="green">May</th>
                        <th class="blue">Jun</th>
                        <th class="red">Jul</th>
                        <th class="green">Aug</th>
                        <th class="blue">Sep</th>
                        <th class="red">Oct</th>
                        <th class="green">Nov</th>
                        <th class="blue">Dec</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style=" background-color: #C5F0FF;">

                        <td>Cool</td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red"></td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red"></td>
                    </tr>
                    <tr style=" background-color: #BFF7D7;">
                        <td>Temperate</td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                    </tr>
                    <tr style=" background-color: #FBFAB8;">
                        <td>Sub-Tropical</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue"></td>
                        <td class="blue"></td>
                        <td class="blue"></td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                        <td class="blue">&#10004;</td>
                    </tr>
                    <tr style=" background-color: #FAD7D7">
                        <td>Tropical</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                        <td class="red">&#10004;</td>
                    </tr>
                    <tr style=" background-color: #FBFAB8;">
                        <td>Acid</td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green"></td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                        <td class="green">&#10004;</td>
                    </tr>
                </tbody>
            </table>

            <h3 style="color: #000; margin-bottom: 20px;">Preparation</h3>
            <p style="margin-bottom: 20px;">Chilli plants are best grown in full sun. Choose a location that will receive at least 6 hours of full sun each day.</p>
            <p style="margin-bottom: 20px;">Chilli plants need a well-drained soil enriched with plenty of organic matter. Prepare soil by weeding it thoroughly, digging it over to loosen it and adding aged animal manure or compost. Keep the area free of weeds until planting. Learn more about preparing soil for planting here.</p>
            <p style="margin-bottom: 50px;">Chilli plants can be grown in containers. If possible choose a variety that’s recommended for container growing. Use a good quality potting mix and make sure your container is large enough for mature plants; a minimum of 20 litres is recommended for chillies. During the growing season, keep in mind that container-grown plants may need additional fertilizer to encourage healthy growth.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Sow Chilli Seeds</h3>
            <p style="margin-bottom: 20px;">
               <p style="margin-bottom: 20px;">Chilli seeds do not require any treatment (e.g., soaking, stratification) before sowing.</p>
               <p style="margin-bottom: 20px;">Chilli seeds can be sown directly into the garden OR seedlings can be raised in trays or other containers and transplanted to the garden once established.</p>
            </p>

            <ol>
                <li style="margin-bottom: 10px;">
                    <strong>Sow Direct:</strong>
                    <p style="margin-bottom: 20px; margin-left: 30px;">
                        1. Sow seeds directly in the garden 5mm deep and 40-60cm apart, with rows 60-100cm apart. <br>
                        2. Keep soil moist but never wet or dry. <br>
                        3. Seeds should germinate in around 7-21 days at a soil temperature of 22-35°C. <br>
                        4. Young seedlings will need protection from pests, pets, and weather until they are established.
                    </p>
                </li>
            </ol>

            <ol>
                <li style="margin-bottom: 10px;">
                    <strong>Raise Seedlings:</strong>
                    <p style="margin-bottom: 20px; margin-left: 30px;">
                        1. Fill trays, punnets or jiffy pots with a good quality seed-raising mix, or use soil starter pellets. <br>
                        2. Sow seeds 5mm deep.<br>
                        3. Keep soil moist but never wet or dry.<br>
                        4. Seeds should germinate in around 7-21 days at a soil temperature of 22-35°C.<br>
                        5. Transplant seedlings to the garden once they have their first true leaves and are large enough to handle (usually 5-10cm tall).<br>
                        6. Plant out, spacing plants 40-60cm apart, with rows 60-100cm apart.<br>
                    </p>
                </li>
            </ol>

            <p style="color: #000; margin-bottom: 10px;"><strong>Additional Tips:</strong></p>
            <ul style="color: #000; margin-bottom: 40px;">
                <li>Chilli is a tender crop that’s sensitive to frost. Do not transplant seedlings or sow seeds outside until all danger of frost has passed.</li>
                <li>Optional: In cool climates, chilli seeds can be sown indoors 6 weeks before the last expected frost. Grow them in a warm position with plenty of natural light.</li>
            </ul>

            <h3 style="color: #000; margin-bottom: 20px;">How to Grow Chilli</h3>
            <p style="margin-bottom: 20px;">Chilli plants may need watering during the growing season. Water when the soil is dry about 5cm below the surface (test this by scratching away a little soil with your finger). Water deeply in the early morning or late afternoon. Avoid watering the leaves of plants to avoid fungal diseases. Learn more about watering here.</p>
            <p style="margin-bottom: 20px;">If soil was well prepared no extra fertilizer should be necessary. In poor soil or to give your plants an extra boost, application of a balanced fertilizer or one formulated for fruit and vegetables can be beneficial</p>
            <p style="margin-bottom: 20px;">Optional - Chilli plants need to be staked for support. Use a sturdy stake or grow plants alongside a trellis or tripod. As plants grow, tie stems gently to the support using twine or plant ties. Make sure you have the support in place when you sow seed or transplant seedlings to avoid disturbing the plant’s roots later.</p>
            <p style="margin-bottom: 40px;">Tip - Chilli plants can be grown as annuals or short-lived perennials. In tropical and subtropical climates plants will grow and fruit year-round. In temperate and cool climates plants are usually grown as warm-season annuals. To grow plants as perennials in cool climates, grow them in a sheltered position and protect them from frost OR overwinter plants by potting them up and placing them in a sheltered position, pruning plants hard in early winter and removing any damaged foliage in spring.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Harvest Chillies</h3>
            <p style="margin-bottom: 20px;">Chillies should be ready to harvest in approximately 60 to 100 days.</p>
            <p style="margin-bottom: 20px;">Fruit is ready when it is firm and the skin is glossy; fruit can be harvested before or after it begins to change colour. Harvest fruit by cutting with snips/secateurs, leaving about 3cm of stem on the fruit. Harvest regularly to encourage more fruit. For short term storage, harvested fruit can be kept at room temperature. To extend the storage life, fruit can be kept in the fridge. For long term storage fruit can be dried, frozen or preserved in oil.</p>

        </div>
    </div>
{% endblock %}
