{% extends 'Catalog/catalogBase.html' %}
{% block content %}
{% load static %}
    <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
        <img src="{% static 'assets/images/catalog/papaya.jpg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
    </div>

    <div style="padding: 20px; background-color: #f9f9f9; max-width: 1100px; margin: 0 auto;">
        <div style="margin: 0 20px;">
            <h2 style="color: #000; margin-bottom: 20px; margin-top: 40px;">How to Grow Papaya Seeds</h2>
            <p><strong>Grow Guide #2253</strong></p>
            <p><strong>Family:</strong> Caricaceae</p>
            <p><strong>Genus:</strong> Carica</p>
            <p style="margin-bottom: 40px;"><strong>Species:</strong> Carica papaya</p>

            <h3 style="color: #000; margin-bottom: 20px;">When to Sow Papaya Seeds</h3>
            <p style="margin-bottom: 40px;">Papaya is a tropical fruit tree. Use the table below to identify the best time of year to sow papaya seeds in your climate.</p>

            <h3 style="color: #000; margin-bottom: 20px;">Preparation</h3>
            <p style="margin-bottom: 20px;">Papaya trees thrive in warm climates with plenty of sunlight. Choose a location that receives full sun and is sheltered from strong winds.</p>
            <p style="margin-bottom: 20px;">Papaya trees prefer well-drained, fertile soil. Prepare the planting area by incorporating organic matter such as compost or well-rotted manure.</p>
            <p style="margin-bottom: 50px;">Papaya trees can be grown in containers, but ensure the container is large enough to accommodate the tree's root system. Use a well-draining potting mix.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Sow Papaya Seeds</h3>
            <p style="margin-bottom: 20px;">
               <p style="margin-bottom: 20px;">Papaya seeds can be collected from ripe fruits and sown directly into the ground or containers.</p>
               <p style="margin-bottom: 20px;">Prepare the planting site by digging holes 1 inch deep and spacing them at least 8 feet apart to allow for the papaya tree's growth.</p>
               <p style="margin-bottom: 20px;">Place 2-3 seeds in each hole and cover them lightly with soil. Water gently to settle the soil.</p>
               <p style="margin-bottom: 20px;">Keep the soil consistently moist but not waterlogged.</p>
               <p style="margin-bottom: 20px;">Seeds should germinate within 2-3 weeks.</p>
            </p>

            <p style="color: #000; margin-bottom: 10px;"><strong>Additional Tips:</strong></p>
            <ul style="color: #000; margin-bottom: 40px;">
                <li>Papaya trees are sensitive to frost. Ensure temperatures do not drop below 50°F (10°C).</li>
                <li>Provide support for young papaya trees by staking them to prevent toppling.</li>
                <li>Regularly prune papaya trees to maintain a single trunk and remove dead or diseased branches.</li>
            </ul>

            <h3 style="color: #000; margin-bottom: 20px;">How to Care for Papaya Trees</h3>
            <p style="margin-bottom: 20px;">Water papaya trees regularly, especially during dry periods. However, avoid waterlogging the soil.</p>
            <p style="margin-bottom: 20px;">Fertilize papaya trees every 2-3 months with a balanced fertilizer to promote healthy growth and fruiting.</p>
            <p style="margin-bottom: 40px;">Protect papaya trees from pests and diseases by regularly inspecting the leaves and fruit for any signs of infestation or damage.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Harvest Papaya</h3>
            <p style="margin-bottom: 20px;">Papayas typically take 6-9 months to reach maturity from seed.</p>
            <p style="margin-bottom: 20px;">Fruit is ready to harvest when it turns yellow and yields slightly to gentle pressure.</p>
            <p style="margin-bottom: 20px;">Use a sharp knife to cut the papaya from the tree, leaving a short stem attached to the fruit.</p>
            <p style="margin-bottom: 40px;">Harvest papayas regularly to encourage continuous fruiting.</p>

        </div>
    </div>
{% endblock %}
