{% extends 'Catalog/catalogBase.html' %}
{% block content %}
{% load static %}
    <div style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
        <img src="{% static 'assets/images/catalog/tomato.jpg' %}" alt="Your Image" style="width: 70%; max-width: 1100px; "/>
    </div>

    <div style="padding: 20px; background-color: #f9f9f9; max-width: 1100px; margin: 0 auto;">
        <div style="margin: 0 20px;">
            <h2 style="color: #000; margin-bottom: 20px; margin-top: 40px;">How to Grow Tomato Seeds</h2>
            <p><strong>Grow Guide #2252</strong></p>
            <p><strong>Family:</strong> Solanaceae</p>
            <p><strong>Binomial name:</strong> Solanum lycopersicum</p>
            <p style="margin-bottom: 40px;"><strong>Life Cycle:</strong> Annual</p>

            <h3 style="color: #000; margin-bottom: 20px;">When to Sow Tomato Seeds</h3>
            <p style="margin-bottom: 40px;">Tomato is a warm season crop. Use the table below to identify the best time of year to sow tomato seeds in your climate.</p>

            <h3 style="color: #000; margin-bottom: 20px;">Preparation</h3>
            <p style="margin-bottom: 20px;">Tomato plants are best grown in full sun. Choose a location that will receive at least 6 hours of full sun each day.</p>
            <p style="margin-bottom: 20px;">Tomato plants need a well-drained soil enriched with plenty of organic matter. Prepare soil by weeding it thoroughly, digging it over to loosen it and adding aged animal manure or compost. Keep the area free of weeds until planting.</p>
            <p style="margin-bottom: 50px;">Tomato plants can also be grown in containers. If possible choose a variety that’s recommended for container growing. Use a good quality potting mix and make sure your container is large enough for mature plants; a minimum of 20 litres is recommended for tomatoes. During the growing season, keep in mind that container-grown plants may need additional fertilizer to encourage healthy growth.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Sow Tomato Seeds</h3>
            <p style="margin-bottom: 20px;">
               <p style="margin-bottom: 20px;">Tomato seeds do not require any treatment (e.g., soaking, stratification) before sowing.</p>
               <p style="margin-bottom: 20px;">Tomato seeds can be sown directly into the garden OR seedlings can be raised in trays or other containers and transplanted to the garden once established.</p>
            </p>

            <ol>
                <li style="margin-bottom: 10px;">
                    <strong>Sow Direct:</strong>
                    <p style="margin-bottom: 20px; margin-left: 30px;">
                        1. Sow seeds directly in the garden 5mm deep and 40-60cm apart, with rows 60-100cm apart. <br>
                        2. Keep soil moist but never wet or dry. <br>
                        3. Seeds should germinate in around 7-21 days at a soil temperature of 22-35°C. <br>
                        4. Young seedlings will need protection from pests, pets, and weather until they are established.
                    </p>
                </li>
            </ol>

            <ol>
                <li style="margin-bottom: 10px;">
                    <strong>Raise Seedlings:</strong>
                    <p style="margin-bottom: 20px; margin-left: 30px;">
                        1. Fill trays, punnets or jiffy pots with a good quality seed-raising mix, or use soil starter pellets. <br>
                        2. Sow seeds 5mm deep.<br>
                        3. Keep soil moist but never wet or dry.<br>
                        4. Seeds should germinate in around 7-21 days at a soil temperature of 22-35°C.<br>
                        5. Transplant seedlings to the garden once they have their first true leaves and are large enough to handle (usually 5-10cm tall).<br>
                        6. Plant out, spacing plants 40-60cm apart, with rows 60-100cm apart.<br>
                    </p>
                </li>
            </ol>

            <p style="color: #000; margin-bottom: 10px;"><strong>Additional Tips:</strong></p>
            <ul style="color: #000; margin-bottom: 40px;">
                <li>Tomato is a tender crop that’s sensitive to frost. Do not transplant seedlings or sow seeds outside until all danger of frost has passed.</li>
                <li>Optional: In cool climates, tomato seeds can be sown indoors 6 weeks before the last expected frost. Grow them in a warm position with plenty of natural light.</li>
            </ul>

            <h3 style="color: #000; margin-bottom: 20px;">How to Grow Tomato</h3>
            <p style="margin-bottom: 20px;">Tomato plants may need watering during the growing season. Water when the soil is dry about 5cm below the surface (test this by scratching away a little soil with your finger). Water deeply in the early morning or late afternoon. Avoid watering the leaves of plants to avoid fungal diseases.</p>
            <p style="margin-bottom: 20px;">If soil was well prepared no extra fertilizer should be necessary. In poor soil or to give your plants an extra boost, application of a balanced fertilizer or one formulated for fruit and vegetables can be beneficial</p>
            <p style="margin-bottom: 20px;">Optional - Tomato plants need to be staked for support. Use a sturdy stake or grow plants alongside a trellis or tripod. As plants grow, tie stems gently to the support using twine or plant ties. Make sure you have the support in place when you sow seed or transplant seedlings to avoid disturbing the plant’s roots later.</p>
            <p style="margin-bottom: 40px;">Tip - Tomato plants can be grown as annuals. In temperate climates, tomatoes are usually grown as warm-season annuals. To grow tomatoes, provide support as they grow, prune when necessary, and ensure consistent watering and feeding for optimal growth and fruit production.</p>

            <h3 style="color: #000; margin-bottom: 10px;">How to Harvest Tomatoes</h3>
            <p style="margin-bottom: 20px;">Tomatoes should be ready to harvest in approximately 60 to 100 days.</p>
            <p style="margin-bottom: 20px;">Fruit is ready when it is firm and glossy; fruit can be harvested before or after it begins to change colour. Harvest fruit by gently twisting or cutting the stem. Harvest regularly to encourage more fruit. For short term storage, harvested fruit can be kept at room temperature. To extend the storage life, fruit can be kept in the fridge or preserved through canning or freezing.</p>

        </div>
    </div>
{% endblock %}
