{% extends 'Main/base.html' %}

{% block content %}
<!-- reset password area start -->
<div class="reset-password-area pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="reset-password-wrapper" style="border: 1px solid #eeeeee; padding: 20px; border-radius: 10px; background-color: #fff;">
                    <h4 style="color: #333; text-align: center; margin-bottom: 20px;">Reset Password</h4>
                    {% if messages %}
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            {% for message in messages %}
                                <li style="margin-bottom: 10px; padding: 15px; border-radius: 5px; {% if message.tags == 'success' %}color: #155724; background-color: #d4edda;{% elif message.tags == 'error' %}color: #721c24; background-color: #f8d7da;{% endif %}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form id="resetPasswordForm" action="{% url 'update_password' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input type="password" id="old_password" name="old_password" placeholder="Old Password" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" id="new_password" name="new_password" placeholder="New Password" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required class="form-control" />
                        </div>
                        <br>
                        <div style="display: flex; justify-content: space-between;">
                            <button type="submit" class="btn btn-primary" style="background-color: #4CAF90; width: 48%;">Update Password</button>
                                <a href="{% url 'login' %}" class="btn btn-primary" style="background-color: #b7b7b7; width: 48%;">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- reset password area end -->
{% endblock %}
